@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face{
    font-family: myFont;
    src: url(./assets/fonts/IBMPlexSansThaiLooped-Regular.ttf);
}

body{
    background-color:#C4D2DB;
    color:silver;
    font-family: myFont;
}

.btnSignIn{
     background-color:#006699;
}

.btnSignIn:hover{
    background-color:#005884;
}

@layer components{
    
}